/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Poppins-Regular';
  src: url('Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('Poppins-ExtraBold.ttf') format('truetype');
}

html, body {
  font-family: 'Poppins-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding:0;
  margin: 0 15px;
}

textarea, select, input, button { 
  outline: none; 
}

:focus {
  outline-color: transparent;
  outline-style: none;
}